<style>
.col-md-2 {
  display: none;
}

#quick_search {
  display: none;
}
</style>

<h2>ログイン</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:class=>"col-lg-6"}) do |f| %>
  <div class="field form-group"><%= f.label "メールアドレス", :class=>"control-label" %>
  <%= f.email_field :email, :autofocus => true, :class=>"form-control" %></div>

  <div class="field form-group"><%= f.label "パスワード", :class=>"control-label"%>
  <%= f.password_field :password, :class=>"form-control" %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="field form-group">
      <%= f.label "次回から入力を省略" %>
      <%= f.check_box :remember_me, :class=>"form-control" %></div>
  <% end -%>

  <div class="actions form-group"><%= f.submit "ログイン", :class=>"btn btn-primary btn-lg" %></div>

<%= render "devise/shared/links" %>

<% end %>