<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ssi_jobs" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "flatly", :media => "all" %>

    <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>

  <style>
    body {
      background: #f5f5f5;
    }

    .row {
      /*min-width: 66%;*/
    }

    .col-md-8 {
      min-width: 66%;
    }

    nav {
      margin-top: 60px;
    }



  .panel-body {
    border-bottom: 1px solid #d3d3d3;
  }

  #modal {
    vertical-align: center;
  }

  .breadcrumb{
  width: 65%;
  background: white;
 }

 .quick-search, .search-btn {
  margin-top: 4%;
 }

 #modal, #title > a {
  color: white;
 }

 #user {
  color: white;
  margin-top: 1.2em;
 }

#title {
  font-size: 28px;
  margin-top: 2px;
}

.user-icon {
  height: 1.8em;
  width: 1.8em;
  margin-top: 1em;
  margin-right: 0.5em;
}

#quick_search {
  margin-top: 2px;
}

.navbar {
  height: 50px;
}

#login, #logout {
  margin-top: 2px;
}

</style>
</head>
<body>

  <!--ヘッダー-->
  <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand" id="title">
          <%= link_to "SSI jobs", root_path %>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <!--クイック検索-->
            <li><%= form_tag(offers_search_path, :class => "navbar-form navbar-left", :role => "search", :id => "quick_search") do %>
              <div id="form-group" class="col-xs-9 quick-search"><%= text_field( :search, :name, :placeholder => "会社名で検索", :class => "form-control") %></div><%= submit_tag("検索", :class => "btn btn-danger search-btn") %>
            <% end %>
          </li>



            <!--詳細検索-->
            <!--Modal-->
        <!--
        <li><button data-toggle="modal" data-target="#myModal" class="btn" id="modal">詳細検索</button></li>
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:black;">What is Emeco ?</h4>
              </div>
              <div class="modal-body">
                hogehoge
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">OK!</button>
              </div>
            </div>
          </div>
        </div>
      -->



          </ul>
          <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- 改善アイデア -->
      <!-- 年収の目安で検索できる ->
      <!-- 地域から検索できる -->
      <!-- オフィスの様子 -->
      <!-- 最寄り駅、通勤の便、車通勤ok? -->
      <!-- 社員人数 -->
      <!-- 株価、財務諸表 -->
      <!-- 研修、最初の仕事 -->
      <!-- ノルマ的な -->
      <!-- 就活エピソード -->
      <!-- 出張、転勤がある？ -->
      <!-- OBに働いてる所感を聴いてみる -->
      <!-- 社員食堂 -->


    <!--ここからボディー-->
  <div class="container">
    <div class="row">

      <!--左サイドバー-->
      <div class="col-md-2">

        <!--業界-->
        <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">業界</h3>
            </div>

            <!--nilガード-->
            <% @categories ||= [] %>
            <% @categories.each do |category| %>
              <div class="panel-body"><%= link_to category, :controller => "offers", :action => "search", :method => "POST", :category => category %></div>
            <% end %>
          </div>

          <!--職種-->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">職種</h3>
            </div>

            <!--nilガード-->
            <% @jobs ||= [] %>

            <% @jobs.each do |job| %>
              <div class="panel-body"><%= link_to job, :controller => "offers", :action => "search", :method => "POST", :job => job %></div>
            <% end %>
          </div>

      </div>
      <!--ここまでサイドバー-->

      <div class="col-md-8">
        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>

      <!--ここから左サイドバー-->
      <div class="col-md-2">

        <!--ブックマーク-->

        <% @bookmarks = []
              if current_user.present?
                @user_id = current_user.id
                @bookmark_ids = Bookmark.find(:all, conditions: ["user_id = ?", current_user.id])
                @bookmark_ids.each do |bookmark|
                @bookmarks << Offer.find_by_id(bookmark.offer_id)
                end 
              end %>
          
        <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">ブックマーク</h3>
            </div>

            <!--nilガード-->
            <% @bookmarks ||= [] %>

            <% @bookmarks.each do |bookmark| %>
            <div class="panel-body"><%= link_to bookmark.name, :controller => "interviews", :action => "view", :id => bookmark.id  %>
            <span id="bookmark-delete" style="float:right"><%= link_to "×", :controller => "bookmarks", :action => "delete", :id => bookmark.id  %></span>
            </div>
            <% end %>
        </div>

      </div>

    </div>
  </div><!--.container-->

    <div id="footer" class="container" style="height: 5%;"></div>
 
</body>
</html>
